.authentication {
  .login-container {
    display: flex;
    flex-direction: column;

    @media #{$lg-up} {
      flex-direction: row;
    }

    >div {
      padding: 2rem;

      &:first-of-type {
        border-right: none;
        padding-left: 0;

        @media #{$lg-up} {
          border-right: 1px solid #b3b3b3;
        }
      }

      &.block-customer-login {
        padding-left: 0;

        @media #{$lg-up} {
          padding-left: 3rem;
        }
        
      }
    }

    h3 {
      color: $black;
      margin-bottom: 2rem;
    }
  }
}