.my-wines {

  #search-wines {
    margin-left: auto;
    width: 345px;

    input {
      height: 4rem;
    }
  }
  
  table {
    th {
      position: relative;
      padding-right: 30px;
      white-space: nowrap;

      .both {
        background-image: none !important;
        &:after {
          content: '';
          background-image: url(../images/directional-arrow-v2.svg);
          background-repeat: no-repeat;
          background-position: center;
          width: 13px;
          height: 10px;
          position: absolute;
          right: 15px;
          top: 14px;
          transform: rotate(-90deg);
        }
      }

      .desc,
      .asc {
        &:after {
          content: '';
          background-image: url(../images/directional-arrow-v2.svg);
          background-repeat: no-repeat;
          background-position: center;
          width: 11px;
          height: 7px;
          position: absolute;
          right: 15px;
          top: 14px;
        }
      }

      .asc {
        &:after {
          transform: rotate(90deg);
        }
      }
    }

    tbody {
      tr {
        td {
          text-align: left;
          img {
            max-width: 19px;
          }
        }
      }
    }
  }
}