.profile {
  h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0;
  }

  h3 {
    font-size: 2rem;
  }

  .grid {
    &.three-across {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: .5rem;

      @media #{$lg-up} {
        grid-template-columns: repeat(3, 1fr);
      }

      h4 {
        font-size: 1.6rem;
      }

      ul {
        li {
          display: flex;
          justify-content: space-between;
          font-size: 1.3rem;
        }
      }
    }
  }
}