.secure-checkout {
  .steps {
    display: flex;
    div {
      background-color: #808080;
      color: white;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.1rem;
      line-height: 1.6rem;
      font-weight: 700;
      padding: .2rem 1.8rem;

      strong {
        display: block;
        font-size: 1.3rem;
      }

      &:not(:last-of-type) {
        margin-right: .5rem;
      }

      &.active {
        background-color: $disco;
      }
    }
  }

  .grid {
    &.two-across {
      grid-gap: 3rem;
    }
  }

  h2 {
    color: $tundora;
    font-size: 3.2rem;
    line-height: 4.2rem;
    margin-bottom: 3rem;

    span {
      display: flex;
      align-items: center;
      margin-left: auto;

      label {
        line-height: 1.3rem;
        margin-bottom: 0;
      }
    }
  }

  div[id*="fields-"] {
    >p {
      margin-bottom: 3rem;
    }
  }
}