.accordion {

  .card {
    border: none;
  }

  .card-header {
    h3 {
      button {
        border: 0;
        color: $black;
        padding: 0;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}