.footer-links__skip {
  background: $disco;
  padding: 20px;
  text-align: center;
  color: #fff;
  text-decoration: underline;
  font-weight: 700;
  display: block;
  position: absolute;
  left: -999px;
}

footer {
  background-color: $black;
  .contact-info {
    padding: 1.5rem 0 2.5rem;

    .grid.four-across {
      grid-template-columns: repeat(2,1fr);

      @media #{$lg-up} {
        grid-template-columns: repeat(4,1fr);
      }

      >div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 2rem;
        padding-left: 2rem;
        position: relative;

        @media #{$sm-up} {
          flex-direction: row;
          padding-left: 2rem;
          padding-right: 2rem;
        }

        @media #{$md-up} {
          padding-left: 5rem;
          padding-right: 0;
        }

        @media #{$lg-up} {
          padding-right: 7rem;
          padding-left: 0;
        }

        &:after {
          background-color: $laser-gold;
          content: '';
          display: none;
          position: absolute;
          top: 0;
          right: 35px;
          width: 1px;
          height: 70px;

          @media #{$lg-up} {
            display: block;
          }
        }

        &:last-of-type {
          padding-right: 0;

          &:after {
            display: none;
          }
        }
        img {
          max-height: 30px;
          margin-right: 0;
          margin-bottom: 1rem;

          @media #{$sm-up} {
            max-height: 40px;
            margin-right: 10px;
            margin-bottom: 0;
          }
        }

        p {
          color: white;
          font-size: 1.2rem;
          line-height: 2rem;
          margin-bottom: 0;
        }

        &:nth-of-type(1),
        &:nth-of-type(2) {
          padding-bottom: 3rem;
          @media #{$lg-up} {
            padding-bottom: 0;
          }
        }

        &:nth-of-type(1),
        &:nth-of-type(3) {
          &:before {
            content: '';
            background-color: #4d4d4d;
            display: block;
            width: 1px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;

            @media #{$lg-up} {
              display: none;
            }
          }
        }

        &:nth-of-type(3) {
          br {
            display: none;
            @media #{$md-up} {
              display: block;
            }
          }
        }

        &:nth-of-type(4) {
          br {
            display: none;
            @media #{$lg-up} {
              display: block;
            }
          }
        }
      }
    }
  }

  .review-wrapper {
    background-color: white;
    border: 1px solid $laser-gold;
    padding: 2.5rem 0;
  }

  .review {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    p.author {
      font-size: 1.2rem;
      line-height: 1.4rem;
      text-transform: uppercase;
    }

    p.quote {
      font-size: 1.5rem;
      line-height: 2.6rem;

      @media #{$md-up} {
        font-size: 2.2rem;
        line-height: 2.5rem;
        max-width: 100%;
      }
    }

    a {
      font-size: 1.5rem;
      text-decoration: underline;

      @media #{$md-up} {
        font-size: 2.2rem;
        line-height: 2.5rem;
        max-width: 100%;
      }
    }
  }

  .footer-middle {
    padding: 2.8rem 0;

    .footer-logo {
      padding-bottom: 3rem;
      img {
        max-width: 380px;
      }
    }
  }

  .footer-links {
    border-bottom: 1px solid $laser-gold;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 3rem;
    text-align: center;
    padding-bottom: 1.5rem;

    @media #{$sm-up} {
      grid-template-columns: repeat(2, 1fr);
    }

    @media #{$md-up} {
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: 0;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2.4rem;
        text-transform: uppercase;

        @media #{$lg-up} {
          font-size: 1.5rem;
          line-height: 2.5rem;
        }

        a {
          color: white;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 2.3rem;

          @media #{$lg-up} {
            font-size: 1.4rem;
            line-height: 2.4rem;
          }

          &:hover {
            color: $laser-gold;
          }
        }
      }
    }

    #mailing-list {
      max-width: 280px;
      margin: 0 auto;
      input {
        border: none;
        border-bottom: 1px solid #4d4d4d;
        background-color: transparent;
        margin-bottom: 2.8rem;
        width: 100%;

        &:focus {
          outline: 0;
        }

        &::placeholder {
          color: #808080;
          text-align: center;
          @media #{$sm-up} {
            text-align: left;
          }
        }
      }
    }
  }

  .about {
    small {
      color: white;
      font-size: 1rem;
      line-height: 1.4rem;
  
      &:first-of-type {
        margin-bottom: 1.7rem;
        text-transform: uppercase;
      }
    }
  }

  .awards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3.4rem;

    img {
      max-width: 124px;
      &:not(:last-of-type) {
        margin-right: 2.3rem;
      }
    }
  }

  .accepted-payments {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 6.6rem;

    img {
      max-width: 56px;

      &:not(:last-of-type) {
        margin-right: .7rem;
      }
    }
  }

  .footer-bottom {
    background-color: $black;
    padding-bottom: 2.5rem;

    .footer-bottom-links {
      border-top: 1px solid $laser-gold;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      text-align: center;
      margin-bottom: 1.3rem;
      margin-left: 0;
      padding-top: 2.2rem;

      li {
        position: relative;

        &:not(:last-of-type) {
          padding-right: 2rem;
          &:after {
            background-color: $laser-gold;
            content: '';
            display: block;
            width: 1px;
            height: 1.2rem;
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }

    a,p {
      color: $white;
    }

    a {
      font-size: 1.5rem;
      text-transform: uppercase;
    }

    p {
      font-size: 1.3rem;
      text-align: center;
      margin-bottom: 0;
    }
  }

  .social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

    img {
      width: 25px;
      margin-right: 5px;
    }
  }
}