form {

  .form-group {
    position: relative;
  }

  label {
    color: #1d2734;
    font-size: 1.2rem;
  }
  .form-control {
    background-color: white;
    border: 1px solid #4d4d4d;
    border-radius: 0;
    color: #3a3a38;
    font-size: 1.4rem;
    height: 45px;
    padding: 1rem 1.5rem;

    &::-moz-placeholder {
      color: #3a3a38;
      opacity: 1;
    }
    &:-ms-input-placeholder { color: #3a3a38; }
    &::-webkit-input-placeholder  { color: #3a3a38; }

    &:focus {
      background-color: #d0d3da;
      border-color:$disco;
      box-shadow: none;
    }

    option {
      background: #202020;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  // select {
  //   appearance: none;
  //   background-image: url(../img/arrow-down.svg);
  //   background-repeat: no-repeat;
  //   background-position: 95% 50%;
  //   background-size: 15px; 
  // }

  textarea {
    min-height: 165px;
    resize: none;
  }

  .form-check {
    margin-top: 2rem;
    .form-check-input {
      ~label {
        margin-left: 1rem;
      }
    }
  }

  .inline-has-error {
    .form-control {
      background-color: #FFEBE6;
      border: 1px solid rgba(#EB5635,.5);
      box-shadow: none;
      &::-moz-placeholder {
        color: #EB5635;
        opacity: 1;
      }
      &:-ms-input-placeholder { color: #EB5635; }
      &::-webkit-input-placeholder  { color: #EB5635; }
    }

    label {
      color: #EB5635;
      font-size: 13px;
      font-weight: normal;
      position: absolute;
      left: 29px;
      top: 8px;

      @media #{$lg-up} {
        top: 10px;
      }
    }
  }
}

.calendar {
  input {
    padding-right: 4rem;
  }
  svg {
    height: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}