body.no-scroll {
  overflow:hidden;
}

.global-header {
  background-color: $black;
  padding-top: 48px;
  transition: all .24s ease-in-out;
}

.header-top {
  .banner {
    background-color: $laser-gold;
    padding: 1.2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .25s;

    p {
      color: $white;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      margin: 0;
    }

    svg {
      position: absolute;
      top: 50%;
      right: 18px;
      width: 20px;
      height: 20px;
      transform: translateY(-50%);

      line {
        stroke: $white;
      }
    }

  }

  .header-top-nav {
    background-color: $black;
    padding: .8rem 0;

    .header-top-nav-inner {
      color: $laser-gold;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.3rem;
      font-weight: 700;

      .links {
        display: flex;
        align-items: center;
        a {
          color: $laser-gold;
          display: flex;
          align-items: center;
          font-size: 0;
          font-weight: 700;
          padding-right: 1rem;
          white-space: nowrap;
          text-indent: -9999px;

          @media #{$sm-up} {
            font-size: 1.3rem;
            padding-right: 2.4rem;
            text-indent: 0;
          }
        }
      }

      img {
        margin-right: 2px;
        width: 16px;
      }

      .header-search {
        position: relative;
        min-width: 165px;
        margin-right: 1.2rem;

        input {
          background-color: #000;
          border: 1px solid $laser-gold;
          color: $laser-gold;
          font-size: 1.2rem;
          font-weight: 300;
          height: 22px;
          line-height: 22px;
          padding: 0 2.2rem 0 .5rem;

          &:focus {
            // border-color: none;
            border-color: $laser-gold;
            outline: 0;
            box-shadow: none;
          }
        }

        img {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 2px;
        }
      }
    }
  }
}

.dismiss-banner {
  .global-header {
    padding-top: 0;
  }
  .header-top {
    .banner {
      top: -48px;
    }
  }
}

.header-middle {
  display: none;

  @media #{$lg-up} {
    display: block;
    padding: 2.1rem 0;
  }

  img {
    max-width: 220px;
  }
}

.header-bottom {
  position: relative;
  border-top: 2px solid $laser-gold;
  height: 80px;

  @media #{$lg-up} {
    height: 48px;
  }
}

.globalNav {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 500;
  height: 80px;
  perspective: 2000px;

  @media #{$lg-up} {
    height: 46px;
  }

  >.container {
    max-width: 100%;

    @media #{$lg-up} {
      max-width: 960px;
    }

    @media #{$xl-up} {
      max-width: 1140px;
    }
  }

  ul {
    padding: 0;
    margin: 0
  }

  li {
    list-style: none
  }

  a {
    text-decoration: none;
    color: $laser-gold;
    transition: color .1s;

    &:hover {
      color: #32325d;
    }
  }

  .navRoot {
    position: relative;
  }

  .navSection.logo {
    position: absolute;
    top: 0;
    left: 0
  }

  .navSection.primary {
    justify-content: center;
    display: none;

    @media #{$lg-up} {
      display: flex;
    }
  }

  .navSection.mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;

    @media #{$lg-up} {
      display: none;
    }

    a {
      &:nth-of-type(2) {
        img {
          height: 53px;
        }
      }
    }

    button {
      background: transparent;
      border: none;
      img {
        height: 35px;
      }
    }
  }

  .rootLink {
    display: inline-block;
    height: 46px;
    white-space: nowrap;
    user-select: none;
    font-size: 1.6rem;
    line-height: 46px;
    font-weight: 700;
    margin: 0;
    padding: 0 1.8rem;
    text-transform: uppercase;

    &:hover {
      color: darken($laser-gold, 7%);
    }
  }

  .dropdownRoot {
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 46px;
    pointer-events: none;
    transform: rotateX(-15deg);
    transform-origin: 50% -50px;
    opacity: 0;
    will-change: transform, opacity;
    transition-property: transform, opacity;
    transition-duration: .25s;
    display: block;
  }

  &.dropdownActive .dropdownRoot {
    opacity: 1;
    pointer-events: auto;
    transform: none;
  }

  .dropdownBackground {
    background: #000;
    border-radius: 0;
    overflow: hidden;
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    transition-property: transform;
    transition-duration: .25s;
    transform: translateX(0);
    transform-origin: 0 0
  }

  .dropdownArrow {
    top: -6px;
    margin: 0 0 0 -6px;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    border-radius: 4px 0 0 0;
    background: #fff;
    box-shadow: -3px -3px 5px rgba(82, 95, 127, .04);
    will-change: transform;
    transition-property: transform;
  }

  .dropdownArrow, 
  .dropdownContainer {
    position: absolute;
    left: 0;
    transition-duration: .25s;
  }

  .dropdownContainer {
    overflow: hidden;
    top: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    will-change: transform, width, height;
    transition-property: transform, width, height;
  }

  .dropdownSection {
    opacity: 0;
    pointer-events: none;
    will-change: transform, opacity;
    transition-property: transform, opacity;
    transition-duration: .25s;
    background: red
  }

  .dropdownSection.active {
    pointer-events: auto;
    opacity: 1;
    transform: translateX(0);
  }

  .dropdownSection.left {
    transform: translateX(-150px);
  }

  .dropdownSection.right {
    transform: translateX(150px);
  }

  &.noDropdownTransition .dropdownArrow, 
  &.noDropdownTransition .dropdownBackground, 
  &.noDropdownTransition .dropdownContainer, 
  &.noDropdownTransition .dropdownSection {
    transition: none;
  }

  .dropdownContent {
    position: absolute;
    top: 0;
    left: 0
  }

  .linkGroup {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5rem;
    padding: 30px 35px;
    position: relative;

    &.three-across {
      grid-template-columns: repeat(3, 1fr);
    }

    &.five-across {
      grid-template-columns: repeat(5, 1fr);
    }

    ul {
      li {
        color: #FFF;
        font-size: 1.4rem;
        white-space: nowrap;
       

        &.title {
          font-weight: 700;
          margin-bottom: .8rem;
          text-transform: uppercase;
        }

        a {
          color: $laser-gold;
          display: inline-block;
          margin-bottom: .8rem;
          text-transform: uppercase;
          &:hover {
            color: lighten($laser-gold, 7%);
          }
        }
      }
    }

    img {
      position: absolute;
      right: -92px;
      bottom: -11px;
      width: 390px;
    }
  }

  .mobileMenu {
    display: none;
  }

  .navSection.mobile {
    .rootLink {
      cursor: pointer;
      width: 55px;
      height: 55px;
      position: relative;
      padding: 0 30px;

      div {
        color: inherit;
        position: absolute;
        width: 30px;
        height: 2px;
        border-radius: 1px;
        background: currentColor;
        font-size: 0;
	      left: 13px;
        top: 27px;
        transition: transform .25s;
      }

      div:before,
      div:after {
        content: "";
	      left: 0;
      }

      div:after,
      div:before {
        color: inherit;
        position: absolute;
        width: 40px;
        height: 2px;
        border-radius: 1px;
        background: currentColor;
      }

      div:before {
        top: -10px;
      }
      
      div:after {
        top: 10px
      }
    }
  }

  &.mobileNavActive {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .mobileMenu {
      background-color: #f4f4f4;
      display: block;
      position: relative;
      top: 6px;
    }

    .mobileBackground {
      background: $white;
      position: absolute;
      top: -2px;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .mobileContentWrapper {
      position: relative;
      z-index: 1;

      .mobileContent {
        >div {
          // border-bottom: 1px solid rgba(76, 83, 91, 1);
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 1.6rem;
          font-weight: 500;
          letter-spacing: 2px;
          line-height: 24px;
          padding: 24px 30px;
          text-transform: uppercase;
          transition: border .1s, color .1s;

          svg {
            fill:none;
            height: 14px;
            width: 19px;
            transform: rotate(0deg);
            transition: transform .25s;
            path {
              stroke: rgba(#707070, 1);
            }  
          }
        }

        &:not(:first-of-type) {
          border-top: 1px solid rgba(76, 83, 91, 1);
        }

        ul {
          padding: 0 30px 22px;
          display: none;
         
          li {
            color: #4d4d4d;
            font-size: 1.4rem;
            white-space: nowrap;
           
    
            &.title {
              font-weight: 700;
              margin-bottom: .8rem;
              text-transform: uppercase;
            }
    
            a {
              color: #4d4d4d;
              display: inline-block;
              margin-bottom: .8rem;
              text-transform: uppercase;
              &:hover {
                color: lighten($laser-gold, 7%);;
              }
            }
          }
        
          ~img {
            display: none;
          }
        }

        &.active {
          >div {
            border-bottom: 0;
  
            svg {
              transform: rotate(-180deg);
            }
          }
  
          ul {
            display: block;
  
            ~p {
              display: block;
            }
          }
        }
      }
    }

    .mobile {
      div {
        background: transparent !important;

        &:before {
          top: 0 !important;
          transform: rotate(45deg);
        }
  
        &:after {
          top: 0 !important;
          transform: rotate(-45deg);
        }
      }
    }
  }
}